#header{
    background: url("../img/banner.jpg") no-repeat center;
    height: 600px;
}
#top{
    height: 100px;
}
#header img{
    vertical-align: middle;
}
h1, #cart a{
    color: white;
    text-align: center;
    line-height: 100px;
}
#login a{
    color: white;
    line-height: 100px;
}
#top p{
    color: white;
    cursor: pointer;
}
.wrapper span{
    color: white;
    position: relative;
    left: 950px;
    bottom: 22px;
    cursor: pointer;
}
.float{
    float: left;
    width: 380px;
    display: block;
    height: 100px;
    line-height: 100px;
}
#login:hover{
    text-decoration: underline;
}
.wrapper #cart{
    width: 280px;
    height: 50px;
    cursor: pointer;
    float: right;
    margin-top: 25px;
    display: block;
    background: black;
    opacity: 0.5;
    line-height: 50px;
    text-align: center;
}

#nav{
    position: relative;
    top: -20px
}
#nav li{
    float: left;
    background: #fa558f;
    width: 190px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
#nav a{
    color: white;
}
#nav .selected{
    background: #3c3b3b;
}
#nav #submenu{
    width: 1140px;
    height: 300px;
    background: white;
    display: none;
    margin-left: -190px;
}
#makeup:hover #submenu{
    display: block;
}
#nav li:hover{
    background-color: #3c3b3b;
}
/*sale开始*/
#new{
    height: 210px;
}
#sale{
    margin-top: 56px;
    margin-bottom: 90px;
}
.new-product{
    background-repeat: no-repeat;
    height: 210px;
    width: 360px;
    float: left;
}
.new-product h2 {
    color: white;
    font-size: 30px;
    margin-left: 200px;
    margin-top: 150px;
}
#one{
    background-image: url("../img/bg1.jpg");
    margin-right: 30px;
}
#two{
    background-image: url("../img/bg2.jpg");
    margin-right: 30px;
}
#three{
    background-image: url("../img/bg3.jpg");
}
/*sale结束*/

/*product结束*/
.display{
    width: 340px;
    height: 440px;
    border: 1px solid lightgray;
    position: relative;
    float: left;
    margin-right: 38px;
    margin-bottom: 30px;.
}
.display img{
    width: 248px;
    height: 248px;
    float: left;
    border: 1px solid lightgray;
}
.display .new{
    color: white;
    background: #fa558f;
    position: absolute;
    left: 302px;
    bottom: 420px;
}
.add{
    width: 340px;
    height: 190px;
    position: absolute;
    top: 260px;
    left: 10px;
}
.add input{
    text-indent: 10px;
    out-line: none;
    height: 34px;
    width: 154px;
}
.add button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: white;
    background: orange;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
/*product结束*/

/*service开始*/
#service #problem{
    margin-top: 1050px;
    height: 400px;
    background: url("../img/banner2.jpg") no-repeat;
}
#service .service-book{
    margin-left: 110px;
    position: relative;
    top: 100px;
    float: left;
}
#service .service-book li{
    color: white;
    list-style: disc;
    margin-bottom: 5px;
}
#service .service-book a{
    color: white;
}
#service li:hover{
    text-decoration: underline;
}
/*service结束*/

/*footer开始*/
#footer #contact{
    height: 82px;
    background: #fa558f;
}
#footer .wrapper a{
    color: white;
    float: left;
    line-height: 82px;
}
#footer .wrapper h4{
    color: white;
    float: right;
    line-height: 82px;
}
/*footer结束*/






