#login-container h2{
    margin-top: 36px;
}
#login-container form{
    margin-top: 28px;
    float: left;
}
#login-container h5{
    font-size: 20px;
    color: dimgray;
}
#login-container #blank{
    margin-bottom: 28px;
}
#login-container input{
    width: 400px;
    height: 40px;
    outline: none;
    text-indent: 10px;
    font-size: 20px;
}
#login-container .ipt{
    margin-top: 20px;
    width: 114px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}
#login-container form button{
    background: orange;
    color: white;
    border: 0;
    font-size: 20px;
}
#login-container button:hover{
    background: white;
    color: black;
    border: 1px solid black;
}
#login-container a{
    margin-top: 20px;
    display: block;
    color: dimgray;
    text-decoration: underline;
}
#login-container #register{
    float: right;
}
#login-container #register h3{
    color: orange;
}
#login-container #register p{
    width: 540px;
    height: 42px;
    color: dimgray;
    margin-top: 20px;
}
#login-container #register a{
    background: white;
    border: 1px solid black;
    width: 108px;
    height: 44px;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    line-height: 44px;
    color: black;
}
#login-container #register a:hover{
    background: orange;
    color: white;
    border: 0;
}
#footer #contact{
    margin-top: 360px;
}