
#sale{
    margin: 0;
}
#sale h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
#sale img{
    margin-right: 20px;
    margin-bottom: 18px;
}
#good h3{
    margin-bottom: 20px;
}
#footer #contact{
    margin-top: 950px;
}