#first{
    background: green;
    width: 200px;
    height: 200px;
}
#second{
    background: #ff0000;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
}
#third{
    background: yellow;
    width: 200px;
    height: 200px;
}
.position div{
    float: left;
    
}
